body {
  font-family: sans-serif;
}
core-header-panel {
  background: white;
}
core-toolbar {
  background-color: red;
}
#navheader {
  background-color: red;
}
.content {
  padding: 20px;
}

#navicon {
  display: none;
}